@model Tuple<ToDoList.Models.Todotask, IEnumerable<ToDoList.Models.Todotask>>

<h1> ToDO List</h1>
<table id="list" class="table">
    <thead>
    <th>Tasks</th>
    <th>Done</th>
    </thead>
    <tbody>
        @foreach (var item in Model.Item2)
        {
            <tr>
                <td>@item.TodotaskName</td>
                <td><input type="checkbox" checked="@item.isDone" /> </td>

                <td>
                    <a onclick="popUp('@Url.Action("edit", "home",new { TodoTaskID = item.TodotaskID } ,Context.Request.Scheme)', 'Edit' )" class="btn btn-success" style="color:aliceblue" >Edit</a>
                    <a onclick="popUp('@Url.Action("delete", "home",new { TodoTaskID = item.TodotaskID } ,Context.Request.Scheme)', 'Delete' )" class="btn btn-danger" style="color:aliceblue">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>