@model Tuple<ToDoList.Models.Todotask, IEnumerable<ToDoList.Models.Todotask>>

<head>
    <partial name="~/Views/Shared/_Style.cshtml" />
</head>
<div>
    <form method="post" class="mainbody">

       <partial name="~/Views/Home/_ToDoTable.cshtml" />

       <partial name="~/Views/Home/_Add.cshtml" />

    </form>

</div>
