@model Tuple<ToDoList.Models.Todotask, IEnumerable<ToDoList.Models.Todotask>>

<head>
    <partial name="~/Views/Shared/_Style.cshtml" /> 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

</head>
<div>
    <form method="post" class="mainbody">

        <partial name="~/Views/Home/_ToDoTable.cshtml" />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
       
        <div class="form-group">
            <label asp-for="Item1.TodotaskName" class="control-label"> Task Name</label>
            <input name="Item1.TodotaskName" id="Item1_TodotaskName" class="form-control" />
            <span asp-validation-for="Item1.TodotaskName" class="text-danger"></span>
        </div>

        <div>
            <input type="submit" value="Create" class="btn btn-success" />
        </div>

        @*
        <input id="txtData" type="text" class="form-control" placeholder="veri gir" />
        <button id="btn" type="button" class="btn btn-success">Gönder</button>
        *@
    </form>

</div>

