@model IEnumerable<ToDoList.Models.Todotask>

@Html.ActionLink("Create New", "create", "home")


<partial name="~/Views/Home/_ToDoTable.cshtml"/>  
<div id="table">

</div>


@section Scripts{ 
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/UserScripts/Build.js"></script>
}